[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-book = "==0.12.*"
sphinx = ">=4"
# mdit-py-plugins = "<0.2.7"
srt = "*"
invoke = "*"
requests = "*"
python-dateutil = ">=2.8"

[dev-packages]
XlsxWriter = "~=1.3"
tinytag = "~=1.5"
python-pptx = ">= 0.6.18"
docopt = ">= 0.6"
notebook = "*"
livereload = "==2.*"
flake8 = "*"
pandas = "*"
msal = "*"
seaborn = "*"
dvc = "*"
statsmodels = "*"
scikit-learn = "*"
seedbank = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
