tr p:last-child, td p:last-child {
    margin-bottom: 0;
}

/* Video styling */
.video-container, .slide-container {
    position: relative;
}

.video-container.video-embed {
    padding-top: 56.25%;
    margin-bottom: 24px;
}

.video-container.video-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
